@font-face{
    font-family: 'Lato-Ligth';
    src: url(/fonts/Lato/Lato-Light.ttf)
}
body {
    font-family: Lato-Light;
}
#top-container{
   position: absolute;
   left: 0;
   top:50px;
   right: 0;
   margin: 0 auto;
   width: fit-content;
   display: none;
}
h1{
    font-size: 40px;
}

/* PRESENTATION INITIAL */
#presentation{
    /* display: none; */
    position: absolute;
    left: 0;
    top:100px;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    background-color: rgb(250, 250, 250);
}
#presentation img{
    /* display: none; */
    width: 260px;
    height: 550px;
}
#startGame{
    width: 100px;
    height: 20px;
}

